fastapi
uvicorn
langchain
langchain-community
langchain-openai
langchain_text_splitters
faiss-cpu
pypdf
tiktoken
python-dotenv
streamlit
openai
speechrecognition
streamlit-webrtc
streamlit-mic-recorder


